<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Declaration</h2>
  <p>I acknowledge the College's academic integrity policy - and my own integrity - remain in effect whether my work is done remotely or onsite. Any test or assignment is an act of trust between me and my instructor and especially with my classmates... even when no one is watching. I declare I will not break that trust.</p>
  <p> Name: <span style="background-color: yellow;">Mohammed Mahi Shaikh</span></p>
  <p> Student Number: <span style="background-color: yellow;">147891212</span></p>
  <p><a href="/CPA">Click to visit CPA Students </a></p>
  <p></p><a href="/highGPA">Click  to see  who has the highest GPA</a></p>
</body>
</html>